body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background-color: #eaeaea;
  color: #000000;
  overflow: hidden;
  height: 100vh;
}
.main-nav {
  display: flex;
  gap: 60px;
  padding: 30px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
}

.nav-item {
  color: #9d50bb;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-item:hover {
  color: white;
  text-shadow: 0 0 10px #9d50bb;
}

.navbar {
  display: flex;
  gap: 50px;
  padding: 20px 40px;
  background-color: #030d33;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: #9d50bb;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: white;
}

.page-content {
  padding-top: 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
