.main-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 80px 20px 20px 20px;
  position: relative;
  text-align: center;
}

.hero-section {
  max-width: 650px;
  z-index: 2;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-family: "Press Start 2P", cursive;
}

.highlight {
  color: #9d50bb;
  text-shadow: 0 0 10px rgba(157, 80, 187, 0.5);
}

.project-intro {
  font-size: 0.85rem;
  line-height: 1.0;
  color: #aaa;
}

.preview-cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 20px 0;
  z-index: 2;
}

.preview-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 16px; /**/
  border: 1px solid rgba(157, 80, 187, 0.2);
  width: 140px;
  overflow: hidden;
}

.card-image-wrapper {
  width: 100%;
  aspect-ratio: 2/3.5;
  overflow: hidden;
  border-radius: 16px; /**/
  margin-bottom: 10px;
  border: 2px solid #ffd700;
}

.card-preview-img {
  width: 101%;
  height: 101%;
  object-fit: cover;
  border-radius: 16px; /**/
  display: block;
}

.preview-card h3 {
  font-size: 0.75rem;
  color: #9d50bb;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 5px;
}

.preview-card p {
  font-size: 0.6rem;
  color: #888;
}

.cta-section {
  z-index: 2;
}

.cta-section p {
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 5px;
}

.cta-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.cta-button {
  padding: 10px 25px;
  background: #9d50bb;
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
}

.cta-button.secondary {
  background: transparent;
  border: 1px solid #9d50bb;
}

.authors-footer {
  font-size: 0.65rem;
  color: #555;
  z-index: 2;
  width: 100%;
}

.author-names {
  color: #9d50bb;
  margin-top: 4px;
}

.auth-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 12px 14px;

  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(8px);

  border-radius: 16px;
  border: 1px solid rgba(157, 80, 187, 0.25);

  color: white;
  text-align: center;
}

.auth-status {
  font-size: 0.7rem;
  color: #ccc;
  font-family: "Press Start 2P", cursive;
}

.auth-status span {
  color: #9d50bb;
}

.auth-btn {
  padding: 8px 18px;

  background: #9d50bb;
  color: white;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  font-size: 0.65rem;
  font-family: "Press Start 2P", cursive;

  transition: all 0.2s ease;
}

.auth-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(157, 80, 187, 0.5);
}

.auth-btn.secondary {
  background: transparent;
  border: 1px solid #9d50bb;
}

.auth-btn.secondary:hover {
  background: rgba(157, 80, 187, 0.15);
  box-shadow: 0 0 12px rgba(157, 80, 187, 0.3);
}