.container {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: auto;
  margin-top: 80px;
  position: relative;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  width: 100%;
  gap: 50px;
  padding-top: 40px;
}
.text {
  color: #8fbfef;
  font-size: 48px;
  font-weight: 700;
}
.inputs {
  margin-top: 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;

  width: 410px;
  height: 60px;

  border-radius: 15px;
}
.input img {
  margin: 0px 30px;
}
.input input {
  height: 50px;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;

  color: #797979;
  font-size: 19px;
  padding-left: 20px;
}
input::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.input img {
  width: 26px;
  height: 26px;
  margin: 0 20px;
}
.submit-container {
  display: flex;
  gap: 13px;
  margin: 60px auto 30px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 220px; */
  height: 59px;
  color: #000000;

  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  background-image: url("../assets/bluebutton.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 240px;
}

.gray {
  background-image: url("../assets/greybutton.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-background {
  width: 100%;
  height: auto;
  display: block;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
