.star-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #030d33;
    overflow: hidden;
    z-index: -1;
}
.star{
    position: absolute;
    top:-20px;
    color: white;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
}
@keyframes fall {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}